.all-rooms {
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.all-rooms h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
  font-weight: bold;
}

.all-room-filter-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.all-room-filter-div label {
  margin-right: 10px;
  font-weight: bold;
  color: #555;
}

.all-room-filter-div select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  transition: border-color 0.3s;
}

.all-room-filter-div select:focus {
  border-color: #007bff;
}

.date-picker-container {
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.date-picker-container div {
 
}

.date-picker-container label {
  margin-right: 10px;
  font-weight: bold;
  color: #555;
}

.date-picker-container .react-datepicker-wrapper {
  width: 200px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 20px 0 0;
}

.date-picker-container .react-datepicker__input-container input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  transition: border-color 0.3s;
}

.date-picker-container .react-datepicker__input-container input:focus {
  border-color: #007bff;
}

.search-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.search-button:active {
  background-color: #004494;
  transform: translateY(0);
}